$purple: #511896;
$link-color: #774DA8;
$code-pink: #e83e8c;
$highlight-color: #f7f7f9;
$twitter_blue: #1DA1F2;

$font-family-headings: 'Special Elite', monospace;
$font-family-sans-serif: 'Exo 2', sans-serif;

body {
    font-family: $font-family-sans-serif;

    h1, h2, h3, h4, h5, h6, .site-title {
        font-family: $font-family-headings;
        letter-spacing: 2px;
        color: $purple;
    }

    a {
        color: $link-color;

        &:visited {
            color: lighten($link-color, 10%)
        }

        &:hover {
            text-decoration: none;
            border-bottom: 1px dotted;
            color: darken($link-color, 10%);
        }
    }

    #tag-cloud {
        max-width: 80rem;
        margin: 0 auto;
        line-height: 2;
        a {
            padding-right: 1rem;
        }
        .set-2 {
            font-size: 1.5em;
        }
        .set-3 {
            font-size: 2em;
        }
        .set-4 {
            font-size: 2.5em;
        }
        .set-5 {
            font-size: 3em;
        }
    }

    .wrapper {
        padding: 0 max(4vmin, 20px);
        max-width: 80em;
    }

    .site-header {
        border-top: 0;
        background-color: $purple;

        .site-title {
            padding-bottom: 0;
            margin-bottom: 0;
        }

        a {
            color: $highlight-color !important;
        }

        .menu-icon {
            svg {
                fill: $purple;
            }
        }
    }

    .img-center {
        display: block;
        margin: 0 auto 1em;
        max-width: 50%;
    }

    .gallery {
        display: grid;
        grid-gap: 1em;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        figure {
            padding-bottom: 1em;
        }
    }

    .two-by-one {
        grid-template-columns: repeat(2, 1fr);
    }

    .two-by-two {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 25%);
    }

    .three-by-one {
        grid-template-columns: repeat(3, 1fr);
    }

    .one-by-two {
        grid-template-rows: repeat(2, 25%);
    }

    .four-by-two {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 25%);
    }

    .img-left {
        float: left;
        margin-right: 1em;
    }

    .img-right {
        float: right;
        margin-left: 1em;
    }

    .img-md {
        max-width: 50%;
    }

    .example-output {
        img {
            border-radius: 6px;
            box-shadow: 0 1px 3px #afb5c0;
            max-width: 100%;
            height: auto;
        }
    }

    .alert {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;

        .alert-title {
            display: flex;
            align-items: center;

            p {
                display: inline-block;
                margin-bottom: 0 !important;
                padding-left: 0.5em;
                font-weight: bold;
            }
        }
    }

    .alert-info {
        color: #245269;
        background-color: #d9edf7;
        border-color: #bce8f1
    }

    pre {
        border-radius: 5px;
    }

    .footnotes {
        border-top: 1px solid #828282aa;
        padding-top: 1em;
        margin-top: 2em;
    }

    .cover-img-container {
        height: 25vh;
        overflow: hidden;
        background-position: center;
        background-size: 100%;
        background-origin: border-box;
        background-repeat: no-repeat;
    }

    .cover-img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
}

@include media-query($on-palm) {
    .site-header {
        .trigger {
            a {
                color: $purple !important;
            }
        }
    }

    .img-center {
        max-width: 100%;
    }

    body {
        .img-left, .img-right {
            float: none;
            margin: 1em 0;
        }
    }
}