$purple: #511896;
$link-color: #774DA8;
$code-pink: #e83e8c;
$highlight-color: #f7f7f9;
$twitter_blue: #1DA1F2;

$font-family-headings: 'Special Elite', monospace;
$font-family-sans-serif: 'Exo 2', sans-serif;

body {
    font-family: $font-family-sans-serif;

    h1, h2, h3, h4, h5, h6, .site-title {
        font-family: $font-family-headings;
        letter-spacing: 2px;
        color: $purple;
    }

    a {
        color: $link-color;

        &:hover {
            text-decoration: none;
            border-bottom: 1px dotted;
            color: darken($link-color, 10%);
        }
    }

    .site-header {
        border-top: 0;
        background-color: $purple;

        .site-title {
            padding-bottom: 0;
            margin-bottom: 0;
        }

        a {
            color: $highlight-color !important;
        }

        .menu-icon {
            svg {
                fill: $purple;
            }
        }
    }

    .img-center {
        display: block;
        margin: 0 auto 1em;
        max-width: 50%;
    }

    .gallery {
        display: grid;
        grid-gap: 1em;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .two-by-one {
        grid-template-columns: repeat(2, 1fr);
    }

    .four-by-two {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 25%);
    }

    .alert {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;

        .alert-title {
            display: flex;
            align-items: center;

            p {
                display: inline-block;
                margin-bottom: 0 !important;
                padding-left: 0.5em;
                font-weight: bold;
            }
        }
    }

    .alert-info {
        color: #245269;
        background-color: #d9edf7;
        border-color: #bce8f1
    }

    pre {
        border-radius: 5px;
    }

    .footnotes {
        border-top: 1px solid #828282aa;
        padding-top: 1em;
        margin-top: 2em;
    }
}

@include media-query($on-palm) {
    .site-header {
        .trigger {
            a {
                color: $purple !important;
            }
        }
    }
}